CLOUD_DATABASE_URL=mongodb+srv://dbuser:HAPPYHUNT@happy-hunt.arw5e.mongodb.net/HappyHunt?retryWrites=true&w=majority
APP_PORT=8000
TOKEN_SECRET=HAPPYHUNT
DATABASE_URL=mongodb://localhost:27017/hhc
D7_TOKEN=ENTER YOUR TOKEN
SENDGRID_TOKEN = YOUR TOKEN