.app {
    height: 100%;
    margin: 0;
  }

.nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background:rgb(150, 150, 150);
}
.navLinks {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background:rgb(150, 150, 150);
}


